@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, body, html {
    margin: 0;
    padding:0;
    background: black;
    font-family: 'Press Start 2P';
} 

canvas {
    background: black;
    outline:none;
}

.box {
    display: flex;
    justify-content: center;
}

.scoreboard {
    position: absolute;
    color: white !important;
    font-size: 24px;
    left: 43%;
    background:rgba(0,0,0,0);
    margin-top: 10px;
    user-select: none;
}
.modal-container {
    background: rgba(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    margin: auto;
    text-justify: auto;
}
.modal-container2 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    margin: auto;
    text-justify: auto;
    z-index:20;
}

.modal {
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto;
    padding: 50px 35px;
    width: 700px;
    text-justify: center;
    justify-content: center;
    border-radius: 8px;
    z-index:140 !important;
}
.trainig-modal {
    display: flex !important;
    flex-direction: column;
    background: white;
    margin: auto;
    padding: 50px 35px;
    width: 700px;
    text-justify: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 40;
    margin-top: 150px;
}
.trainig-modal > .text{
    font-size: 13px;
    text-align: justify;
    margin:auto;
    margin-bottom:35px;
    z-index:10;
}
.step {
    font-size:22px !important;
    background:white;
    margin:auto;
    margin-bottom:-12px;
    z-index:20;
}
.start-training-btn{
    display: flex;
    cursor:pointer;
    margin:auto !important;
    margin-top:-15px !important;
    justify-content: center;
    color:white !important;
}
button {
    width: 270px;
    padding: 1.2rem 0;
    margin: auto;
    background: rgb(54, 155, 189);
    border: none;
    border-radius: 8px;
    color:white;
    cursor: pointer !important;
    outline: none;
    font-size: 15px;
    color:white !important;
    margin-top: 20px;
}

button:hover {
    background: rgb(85, 170, 199);
}

h1 {
    margin: auto;
    background: white;
    font-size: 39px;
    text-justify: center;
}

.text {
    margin-top:10px;
    font-size: 12px;
    text-align: center;
    padding: 15px 0 !important;
    background:white;
}

img {
    background-color: rgba(0,0,0,0);
}

.hidden {
    display: none;
}


body {
    margin:0;
    display: flex;
    justify-content: center;
    overflow:hidden;
}

.bar {
    width:100px;
    height:150px;
    background:rgba(255,255,255, 0);
    position: absolute;
    bottom:10px;
    margin:auto;
}

.click-left, .click-right {
    position:absolute;
    bottom:33%;
    line-height: 1.3rem;
    background:rgba(0,0,0,0) !important;
    border:none !important;
    color:white !important;
    font-size: 20px;
    text-shadow: 2px 2px 2px #1c6478;
    cursor:pointer;
}
.click-left {
    left:1%;
}
.click-right {
    right:1%;
}

.click-left:hover, .click-right:hover {
    color:rgb(158, 202, 243) !important;
    bottom:33.5%;
}

* {
    user-select:none;
    /* border:1px solid white; */
    color:black !important;
}
.start-game {
    position: absolute;
    bottom:5%;
    margin:auto;
    color:white;
    font-size: 13px !important;
}
* {
    /* border:1px solid white; */
}

/* LOADING SCREEN */
.loader {
    display:flex;
    position:absolute;
    flex-direction:column;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.9);
    z-index:100;
  }
  .loading {
    position:absolute;
    top:45%;
    color:white !important;
    left:50%;
    margin-left:-120px;
    background:rgba(0,0,0,0);
    font-size:30px;
    font-family: 'Andika New Basic';
  }
  .spinner {
     position:absolute;
    top: 30%;
    left:50%;
    margin-left:-50px;
     height:60px;
     width:60px;
     -webkit-animation: rotation .6s infinite linear;
     -moz-animation: rotation .6s infinite linear;
     -o-animation: rotation .6s infinite linear;
     animation: rotation .6s infinite linear;
     border-left:10px solid rgba(0,174,239,.15);
     border-right:10px solid rgba(0,174,239,.15);
     border-bottom:10px solid rgba(0,174,239,.15);
     border-top:10px solid rgba(0,174,239,.8);
     border-radius:100%;
  }
  @-webkit-keyframes rotation {
     from {-webkit-transform: rotate(0deg);}
     to {-webkit-transform: rotate(359deg);}
  }
  @-moz-keyframes rotation {
     from {-moz-transform: rotate(0deg);}
     to {-moz-transform: rotate(359deg);}
  }
  @-o-keyframes rotation {
     from {-o-transform: rotate(0deg);}
     to {-o-transform: rotate(359deg);}
  }
  @keyframes rotation {
     from {transform: rotate(0deg);}
     to {transform: rotate(359deg);}
  }
#webgazerFaceOverlay, #webgazerVideoFeed {
    background:rgba(0,0,0,0) !important;
    z-index:30 !important;
    position:default !important;
    border-radius:5px;
}

#webgazerFaceFeedbackBox {
    background:rgba(0,0,0,0) !important;
    z-index:30 !important;

}

#webgazerGazeDot {
    visibility:hidden !important;
}